<a href="https://colab.research.google.com/github/tejasbabar-24/Python-Programing/blob/main/Python_Program_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuple**

Immutable sequences: Tuples are ordered collections of elements that cannot be modified once created. This makes them ideal for storing data that should remain constant.
Defined by parentheses: Tuples are defined using parentheses (), enclosing the elements separated by commas.
Heterogeneous elements: Tuples can contain elements of different data types, making them versatile for storing diverse information.
Indexing and slicing: You can access elements in a tuple using indexing (starting from 0) and slicing (to extract subsets).
Unpacking: Tuples can be unpacked into individual variables using a convenient syntax.
Built-in functions: Python provides various built-in functions for working with tuples, such as len(), count(), index(), and sorted().

In [1]:
#createing tuple

my_tuple = (1,2,3,4)
print(my_tuple)

(1, 2, 3, 4)

In [3]:
print(type(my_tuple))

m = (1,)
type(m)

<class 'tuple'>

tuple

In [4]:
t = tuple('spam')
print(t)

('s', 'p', 'a', 'm')

In [5]:
#creating tuple with diffrent data types

t = (2,'tejas',2.0)
print(t)

(2, 'tejas', 2.0)

In [7]:
#creating tuple without parentheses (using comma seprator)

m =7,8,9
print(m)

(7, 8, 9)

In [12]:
#Accessing Tuple element

my_ex = (1,2,3,(4,5,6),7,8)
print(my_ex)
print(my_ex[0])
print(my_ex[3][1])
print()

(1, 2, 3, (4, 5, 6), 7, 8)
1
5

In [13]:
my_tuple =('a','b','c','d','e','f')
my_tuple[3:]

('d', 'e', 'f')

In [14]:
#Tuple Operation
#Concatenation
a = (1,2,4)
b = (4,5,6)
concat = a+b
print(concat)

(1, 2, 4, 4, 5, 6)

In [15]:
#Repetation
my_tuple =(1,2,3)
repeat_tuple = my_tuple * 3
print(repeat_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [18]:
#converting tuple to list

T = ('cc','aa','bb','dd')
l = list(T)
T = tuple(l)
print(T)

('cc', 'aa', 'bb', 'dd')

In [20]:
a = '234'
type(a)
b = int(input(a))
print(type(b))

2341
<class 'int'>

In [21]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      MonthDayNano
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [22]:
#Tuple Count
my_tuple=(1,2,34,4,2)
print(my_tuple.count(2))

2

In [26]:
names = ['rames','umesh','suresh','geeta',]
names.insert(3,'seeta')
print(names)

['rames', 'umesh', 'suresh', 'seeta', 'geeta']

In [ ]:
# create a list with names 'ramesh','umesh','suresh','geeta' and insert seeta in between suresh and geeta
l=['ramesh','umesh','suresh','geeta']
l.insert(3,'seeta')
print(l)
l=['ramesh','umesh','suresh','geeta']
l[0:3]+['seeta']+l[3:]

In [31]:
# Convert the list_1=['radha','aditya','shravani'] to uppercase letters
list_1=['radha','aditya','shravani']
b=" ".join(list_1).upper()
list_new=b.split(" ")
print(list_new)

['RADHA', 'ADITYA', 'SHRAVANI']

**Dictionaries**

A dictionary in Python is a collection of key-value pairs. Each key is unique, and it points to a corresponding value. You can think of it like a real-life dictionary where words (keys) are associated with their definitions (values)

In [33]:
#creating dictionary with {}
my_dictionary = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(my_dictionary)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [35]:
#student dictionar
stude  = {
    "name" : "tejas",
     "class" : "M.sc CS",
     "subject" :['java','dot net']
    }
print(stude)

{'name': 'tejas', 'class': 'M.sc CS', 'subject': ['java', 'dot net']}

In [36]:
#Creating dictionary with dict constructor

student = dict(name='radha',age=12,course=['c','cpp'])
print(student)

{'name': 'radha', 'age': 12, 'course': ['c', 'cpp']}

In [37]:
#dictionary keys must be of an immutable data type like strings, numbers, or tuples.
student={'name':'Radha',
        'age':12,
        'courses':['math','science'],
         1:'hi',
         (2,3):'hello'
        }
print(student)

{'name': 'Radha', 'age': 12, 'courses': ['math', 'science'], 1: 'hi', (2, 3): 'hello'}

*Accessing Elment in Dictonary*

In [39]:
print(student['age'])
print(student['courses'])

12
['math', 'science']

In [40]:
print(student['school'])

KeyError: 'school'

In [43]:
student.get('name','key not present')

'Radha'

In [44]:
student.get('school')

In [41]:
student.get('school','key not present')

'key not present'

**Modifying Element**

In [45]:
{'key': 'values', 'name': 'Pooja', 'age': 12, 'courses': ['Math', 'Science'], 'school': 'Vidyamandir'}

{'key': 'values',
 'name': 'Pooja',
 'age': 12,
 'courses': ['Math', 'Science'],
 'school': 'Vidyamandir'}

In [47]:
print(student.keys())
print(student.values())
print(student.items())

student = {
    'key': 'values',
    'name': 'Radha',
    'name': 'Radha',
    'age': 9,
    'courses': ['Math', 'Science']
}
student.update({'std':'fourth','score':90})
print(student)
new_details={'std':'fourth','score':90}
student.update(new_details)
print(student)

dict_keys(['name', 'age', 'courses', 1, (2, 3)])
dict_values(['Radha', 12, ['math', 'science'], 'hi', 'hello'])
dict_items([('name', 'Radha'), ('age', 12), ('courses', ['math', 'science']), (1, 'hi'), ((2, 3), 'hello')])
{'key': 'values', 'name': 'Radha', 'age': 9, 'courses': ['Math', 'Science'], 'std': 'fourth', 'score': 90}
{'key': 'values', 'name': 'Radha', 'age': 9, 'courses': ['Math', 'Science'], 'std': 'fourth', 'score': 90}

In [48]:
#creating dictionary from two list

l_1=['a','b','c','d']
l_2=[1,2,3,4]
new_dict=dict(zip(l_1,l_2))
print(new_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [49]:

#fromkeys
#create a new dictionary with keys from itertable
D=dict.fromkeys(['a','b','c'],5)
D

{'a': 5, 'b': 5, 'c': 5}

A nested dictionary in Python is a dictionary that contains other dictionaries as its values. This allows you to create complex data structures where you can organize information hierarchically.

In [50]:
#Nested Dictionary
person = {
    "name": "Alice",
    "age": 30,
    "address": {
        "street": "123 Main St",
        "city": "New York",
        "state": "NY",
        "zip": "10001"
    },
    "hobbies": ["reading", "painting", "hiking"]
}
print(person)

{'name': 'Alice', 'age': 30, 'address': {'street': '123 Main St', 'city': 'New York', 'state': 'NY', 'zip': '10001'}, 'hobbies': ['reading', 'painting', 'hiking']}

In [51]:
student={
    'student1':{'name':'radha','age':12},
    'student2':{'name':'deepika','age':40}
}
print(student)

{'student1': {'name': 'radha', 'age': 12}, 'student2': {'name': 'deepika', 'age': 40}}

In [52]:
student['student1']['name']

'radha'

In [53]:
student['student2']['name']

'deepika'

In [54]:
# Unpacking Dictionary Keys
person = {'name': 'Radha', 'age': 30, 'city': 'Aurangabad','state':'Maharashtra'}
keys = person.keys()
a, *b, c= keys
print(a)
print(b)
print(c)

name
['age', 'city']
state

In [55]:
#  Unpacking Dictionary Items
items = person.items()
(a_key, a_value), *(b_key, b_value), (c_key, c_value) = items
print(a_key, a_value)
print(b_key, b_value)
print(c_key, c_value)

name Radha
('age', 30) ('city', 'Aurangabad')
state Maharashtra