<a href="https://colab.research.google.com/github/tejasbabar-24/Python-Programing/blob/main/Python_Programing_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List**

In [2]:
new = [1,'t',[5,3],'number']
print(new)

[1, 't', [5, 3], 'number']

In [5]:
#A list in Python is a Collection of  items which can be different data types. list are writeen in [] square brackets
list_1 = ['Mercedez','tata','kia','breeza','citron']
print(list_1)
list_1[2]

['Mercedez', 'tata', 'kia', 'breeza']

'kia'

In [14]:
#Slicing
list_1[0:2]

['Mercedez', 'tata']

In [15]:
l = ['a','b','c','d','e','f']
print(l)
l[1:6]

['a', 'b', 'c', 'd', 'e', 'f']

['b', 'c', 'd', 'e', 'f']

In [17]:
l[::2]

['a', 'c', 'e']

In [16]:
#[start:end:step]

l[::-1]

['f', 'e', 'd', 'c', 'b', 'a']

In [29]:
list_3=[['a','b','c'],'k',['d','e']]
print(list_3[1])
print(list_3[2][0])
print(list_3[1:])
print(list_3[-1][-2])

k
d
['k', ['d', 'e']]
d

In [41]:
list_3.append('g')
list_3.append('h')
list_3.pop()
print(list_3)

[['a', 'b', 'c'], 'k', 'g']

In [42]:
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)

print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

**Tuple**
tuples are immutable ()

In [43]:
#creating tuple

my_tuple = (1,2,3)
print(my_tuple)

(1, 2, 3)

In [44]:
new_tuple=(1,)
print(new_tuple)
print(type(new_tuple))

(1,)
<class 'tuple'>

In [45]:
#Dictonary
student = {
    'key': 'values',
    'name': 'Radha',
    'name': 'Radharani',
    'age': 9,
    'courses': ['Math', 'Science']
}
print(student)

{'key': 'values', 'name': 'Radharani', 'age': 9, 'courses': ['Math', 'Science']}