<a href="https://colab.research.google.com/github/tejasbabar-24/Python-Programing/blob/main/Python_Basic_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List**
a list is a collection of things, enclosed in [ ] and separated by commas.

In [1]:
a =  ['aliya','ranveer','kriti',21]

print(a)

['aliya', 'ranveer', 'kriti', 21]

In [2]:
list_1 =['suzuki','kia',['a','b',1],5,6,{},(10.5,6)]
print(list_1)

['suzuki', 'kia', ['a', 'b', 1], 5, 6, {}, (10.5, 6)]

Key Characteristics:

Ordered: Elements in a list are stored in a specific order, and their indices (starting from 0) are used to access them.
Mutable: You can modify the elements of a list after it's created by adding, removing, or changing values.
Heterogeneous: Lists can contain elements of different data types (e.g., integers, strings, floats, even other lists).

# **Accessing List Element**

In [5]:
#Accesing list Element

l = ['a','v','c','d']
#list index start from 0
print(l[1])
print(l[-2])
print(l[-4])

v
c
a

In [6]:
l[3]

'd'

In [14]:
l=['suzuki','kia','citron',['tata','mahindra'],10,[10.2,8]]

print(l[3])
print(l[3][1])
print(l[5])
print(l[5][1])
print(l[-1][-1])

['tata', 'mahindra']
mahindra
[10.2, 8]
8
8

In [22]:
l = [1,2,3,4,5,[6,7,8],9,10]
l[5][2]

8

**List slicing**

In [28]:
lst = ['suzuki','kia','citron','tata','mahindra']
print(lst[:])
print(lst[1:])
print(lst[:3])
print(lst[0:3])
print(l[1:]4)

['suzuki', 'kia', 'citron', 'tata', 'mahindra']
['kia', 'citron', 'tata', 'mahindra']
['suzuki', 'kia', 'citron']
['suzuki', 'kia', 'citron']

**Extending Slicing**
l[start:end:step] default step 1

In [31]:
list_1 = ['suzuki','kia','citron','mahindra','tata']

print(list_1[::-1])
print(list_1[::2])
print(list_1[::-2])

['tata', 'mahindra', 'citron', 'kia', 'suzuki']
['suzuki', 'citron', 'tata']
['tata', 'citron', 'suzuki']

**Modifying List**

In [32]:
list_1 = ['suzuki','kia','citron','mahindra','tata']

list_1[1] =   'huyndai'
list_1

['suzuki', 'huyndai', 'citron', 'mahindra', 'tata']

In [33]:
list_1[-1] = 10
print(list_1)

['suzuki', 'huyndai', 'citron', 'mahindra', 10]

In [39]:
fruit_list = ['banana','apple','guva','strawbery','dragonfruit','grapes']
print(fruit_list)
fruit_list.append('coffe')
fruit_list.append('custer_apple')
print(fruit_list)
fruit_list.append([1,2])
print(fruit_list)

['banana', 'apple', 'guva', 'strawbery', 'dragonfruit', 'grapes']
['banana', 'apple', 'guva', 'strawbery', 'dragonfruit', 'grapes', 'coffe', 'custer_apple']
['banana', 'apple', 'guva', 'strawbery', 'dragonfruit', 'grapes', 'coffe', 'custer_apple', [1, 2]]

In [43]:
#Insert() -Adds an element at specified position
fruit_list.insert(0,'pineapple')
print(fruit_list)

['pineapple', 'pineapple', 'pineapple', 'coconut', 'pineapple', 'coconut', 'banana', 'apple', 'guva', 'strawbery', 'dragonfruit', 'grapes', 'coffe', 'custer_apple', [1, 2]]

In [44]:
fruit_list.insert(2,'coconut')
print(fruit_list)

['pineapple', 'pineapple', 'coconut', 'pineapple', 'coconut', 'pineapple', 'coconut', 'banana', 'apple', 'guva', 'strawbery', 'dragonfruit', 'grapes', 'coffe', 'custer_apple', [1, 2]]

In [47]:
fruit_list.extend([23,'starfriut'])
fruit_list

fruit_list.extend([1,2,3])
print(fruit_list)

['pineapple', 'pineapple', 'coconut', 'pineapple', 'coconut', 'pineapple', 'coconut', 'banana', 'apple', 'guva', 'strawbery', 'dragonfruit', 'grapes', 'coffe', 'custer_apple', [1, 2], 23, 'starfriut', 23, 'starfriut', 1, 2, 3]

**Removinf Elements**
remove() the first occurance of a specified value.

In [50]:
  new_list=['pune',25,'nanded','chennai','hyderabad','nasik',25,'nanded','pune']

  new_list.remove('pune')
  print(new_list)
  new_list.remove('nasik')
  print(new_list)

[25, 'nanded', 'chennai', 'hyderabad', 'nasik', 25, 'nanded', 'pune']
[25, 'nanded', 'chennai', 'hyderabad', 25, 'nanded', 'pune']

In [53]:
new_list.pop()  #pop():Removes and returns the element at aspecified index (default is the last item )
print(new_list)
new_list.pop(0)
print(new_list)

['nanded', 'chennai', 'hyderabad']
['chennai', 'hyderabad']

In [ ]:
#del : deletes an element at specify index or a slice of the
del new_list[0]
print(new_list)

**List Operation**

In [63]:
  #concatenation

  l =[1,2,3,4]
  l1 = [5,6,7,8]
  l+l1

[1, 2, 3, 4, 5, 6, 7, 8]

In [64]:
#Repetation
l = [1,2,3,4,5]
l*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [66]:
#membership test in not in

l = [1,2,3,4,5]
3 in l

True

In [67]:
56 not in l

True

In [68]:
8 in l

False

**List Comprenshion**

**Built In List function**

In [69]:
#len() : returns number of items in list

l = [1,2,3,4,5]
print(len(l))

5

In [72]:
#Split
# split()
a='they take the bus to work'
l=a.split(" ")
print(l)

['they', 'take', 'the', 'bus', 'to', 'work']

In [73]:
b = ' ' .join(l)
print(b)

they take the bus to work

In [75]:
l=['pune','nanded','chennai','hyderabad','nasik','nanded','pune']
x = ' '.join(l)
print(x)

pune nanded chennai hyderabad nasik nanded pune

In [ ]:
help(list)
help(string)

In [77]:
# min() and max(): Returns the smallest and largest item in the list.
list_new=[144,196,830, 28, 45, 49, 64, 81]

minimum=min(list_new)
maximum=max(list_new)
print(f'minimum value of a list: {minimum}')
print(f'maximum value of a list: {maximum}')

minimum value of a list: 28
maximum value of a list: 830

In [78]:
list_new=[144,196,830, 28, 45, 49, 64, 81]
total=sum(list_new)
print(f'addition of all elements of a list: {total}')

addition of all elements of a list: 1437

In [ ]:
# count
a=[1,2,2,3,3,3,4,4,4,4,4]
a.count(4)

In [79]:
# reverse(): Reverses the order of the list.
b='We always eat dinner together'
l=b.split(" ")
l.reverse()
print(l)

['together', 'dinner', 'eat', 'always', 'We']

**List UnPacking**

In [80]:
# Unpacking with * allows you to unpack multiple elements into a list.
numbers=[1,2,3,4,5,6,7,8]
a,*b,c=numbers
print(a)
print(b)
print(c)

1
[2, 3, 4, 5, 6, 7]
8

In [81]:
# Ignoring Values You can use _ as a convention to ignore certain values during unpacking.

numbers = [1, 2, 3, 4, 5]
a, _, c, _, e = numbers
print(a)
print(c)
print(e)

1
3
5