<a href="https://colab.research.google.com/github/tejasbabar-24/Python-Programing/blob/main/Python_Programing_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Dictionary Method**

In [1]:
student = {
       'key':'Value',
       'name':'Siya',
       'name':'siya',
       'age':12,
       'course':['math','science']
}

print(student)

{'key': 'Value', 'name': 'siya', 'age': 12, 'course': ['math', 'science']}

In [4]:
#Keys() : Returns a View Object  that display list of all keys

print(student.keys())

dict_keys(['key', 'name', 'age', 'course'])

In [3]:
#values() : Returns a view object that display a list of all the values
student.values()

dict_values(['Value', 'siya', 12, ['math', 'science']])

In [5]:
# items() : Returns a view object that displays a list of key-value tuple pairs.

print(student.items())

dict_items([('key', 'Value'), ('name', 'siya'), ('age', 12), ('course', ['math', 'science'])])

In [6]:
#copy dictionary
#we cannot copy a dictionary simply by typing dict2 = dict1
#because dict will only a reference to dict1, and
#change made in dict1 will automatically also be made in dict 2
#there are ways to make a copy, one way is to use the built-in dictionary method copy()
new_dict = student.copy()
print(new_dict)
#or
#new_dict = dict(student)

{'key': 'Value', 'name': 'siya', 'age': 12, 'course': ['math', 'science']}

In [7]:
new_dict = dict(student)
print(new_dict)

{'key': 'Value', 'name': 'siya', 'age': 12, 'course': ['math', 'science']}

In [8]:
#combinin two dictionaries
#Update(): Updates the dictionary with specified key-value Pairs

student = {
       'key':'Value',
       'name':'Siya',
       'name':'siya',
       'age':12,
       'course':['math','science']
}
student.update({'std':'5th','score':90})
print(student)

{'key': 'Value', 'name': 'siya', 'age': 12, 'course': ['math', 'science'], 'std': '5th', 'score': 90}

In [12]:
#incase to combine two dictionry
new_details ={
    'techer name':'Patil',
    'Mob_No':91123021
}
print(new_details)
student.update(new_details)#combining two dictionary

{'techer name': 'Patil', 'Mob_No': 91123021}

In [13]:
print(student)

{'key': 'Value', 'name': 'siya', 'age': 12, 'course': ['math', 'science'], 'std': '5th', 'score': 90, 'techer name': 'Patil', 'Mob_No': 91123021}

In [21]:
#creating dictionary from two list
#the zip built in function allows us to consturct a dictionary from key and value lists
l_1=['a','b','c','d']
l_2=[1,2,3,4,]
d_1 = dict(zip(l_1,l_2))
print(d_1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}